body {
 min-width: 200px;
 max-width: 700px;
 text-align: center;
}

header {
  text-align: center;
  overflow: hidden;
  padding-top: 5px;
  text-align: center;
}

.topcontainer {
	border-size: 2px;
	border-style: solid;
	border-color: red;
	float: right;
}

.play {
	border-size: 2px;
	border-style: solid;
	border-color: black;
	text-align: center;
	width: 75%;
	float: left;
}

#stats {
	text-align: right;
	padding-right: 40px;
	width: 20%;
}

#inventoryarea {
	text-align: right;
	padding-right: 40px;
	width: 20%;
	max-width: 100px;
}

.hide {
	visibility: hidden;
}

#shop {
	border-size: 2px;
	border-style: solid;
	border-color: black;
	text-align: center;
	width: 75%;
	float: left;
}
